/* src/app/flux-edge/flux-edge.component.css */

/* Styles for the FluxEdge host element */
:host {
    background-color: #000000; /* Set background color to black */
    padding-top: 0; /* No padding at the top */
    padding-right: 20px; /* 20px padding on the right */
    padding-bottom: 20px; /* 20px padding on the bottom */
    padding-left: 20px; /* 20px padding on the left */
    float: left; /* Float to the left */
    color: white; /* Change the text color to white */
    height: calc(100% - 50px); /* Full height minus padding */
    width: calc(100% - 40px); /* Full width minus padding */
  }
  
  /* Styles for the iframe element */
  iframe {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: none; /* No border */
  }
  