/* default-page.component.css */

/* Styles for the DefaultPageComponent host element */
:host {
    display: block; /* Make the host element a block element */
    height: calc(100% - 30px); /* Full height minus padding */
    padding-top: 0px; /* Reduced top padding */
    padding-right: 20px; /* Maintain existing side padding */
    padding-bottom: 20px; /* Maintain existing bottom padding */
    padding-left: 20px; /* Maintain existing side padding */
    box-sizing: border-box; /* Ensures padding is included in height/width calculations */
    background-color: #000000; /* Fallback background color */
}

/* Styles for the default page container */
.default-page {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    background-color: #000000; /* Set background color to black */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    color: white; /* Set text color to white */
    background-size: cover; /* Cover the entire component area */
    background-image: url('/assets/main.jpg'); /* Background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin: 0 auto; /* Center the container */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* border: 2px solid blue; Uncomment to add a solid blue border */
    /* border-radius: 5px; Uncomment to add rounded corners */
}
