<!-- aside.component.html -->

<aside>
    <!-- Flux banner image -->
    <img src="assets/flux_banner.png" alt="Small Image">
    <p></p>

    <!-- Container for application load buttons -->
    <div class="app-load-container">
        <h3>App Load</h3>
        <ng-container *ngFor="let component of objectKeys(componentNames)">
            <button *ngIf="component !== Route.DEFAULT"
                    class="button"
                    [class.active]="isComponentLoaded(component)"
                    (click)="toggleComponent(component)">
                {{ componentNames[component] }}
            </button>
        </ng-container>
    </div>
</aside>
