<!-- main.component.html -->

<!-- Tab bar for selecting components -->
<app-tab-bar></app-tab-bar>

<!-- Container for dynamically loaded components -->
<div class="component-container">
  <ng-container *ngFor="let component of objectKeys(componentNames)">
    <ng-container *ngIf="(visibilityService.loadedComponents$ | async)?.has(component)">
      <div [ngClass]="{'visible': (visibilityService.activeComponent$ | async) === component}">
        <ng-container *ngComponentOutlet="componentMap[component]"></ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
