/* main.component.css */

/* Host element styles */
:host {
  display: block;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

/* Container for dynamically loaded components */
.component-container {
  position: relative; /* Relative positioning for child elements */
  width: 100%; /* Full width */
  height: calc(100% - 0px); /* Full height */
}

/* Styles for each component inside the container */
.component-container > div {
  position: absolute; /* Absolute positioning within the container */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: none; /* Hide by default */

  &.visible {
    display: block;
  }
}
