<!-- main.component.html -->

<!-- Tab bar for selecting components -->
<app-tab-bar (tabSelected)="visibilityService.setActiveComponent($event)"></app-tab-bar>

<!-- Container for dynamically loaded components, uses component-names.ts -->
<div class="component-container">
  <ng-container *ngFor="let component of objectKeys(componentNames)">
    <ng-container *ngIf="isActive(component) | async">
      <ng-container *ngComponentOutlet="componentMap[component]"></ng-container>
    </ng-container>
  </ng-container>
</div>

